.frame_36{
position: relative;
width: 348px;
height: 157px;

background: #FFFFFF;
border-radius: 8px;
margin: 20px;
}
    .frame_36 .group_16{
    display: flex;
    align-items: center;
    
    position: absolute;
    width: 308px;
    height: 24px;
    left: 20px;
    top: 112px;
    }
    .group_12{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160.73px;
    height: 18px;
    left: 0px;
    top: 0px;
    }
    .elipse{
        
        position: absolute;
        width: 8px;
        height: 8px;
        left: 13px;
        top: 0px;
        /* Red */
        background: #EB5757;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }
    .group_11{
    position: relative;
    width: 22.73px;
    height: 18px;
    left: 0px;
    top: 0px;
    }
    .group_11 p{
    position: absolute;
    width: 8px;
    height: 18px;
    left: 14.73px;
    top: 0px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    /* Gray 3 */
    color: #828282;
    }
    .clip{
    position: absolute;
    width: 7.46px;
    height: 13.89px;
    left: 0px;
    top: 0px;
    }
    .group_10{
    position: relative;
    width: 28px;
    height: 18px;
    left: 0px;
    top: 0px;
    }
    .comentarios{
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0px;
    top: 0px;
    /* Gray 3 */
    }
    .group_10 p{
    position: absolute;
    width: 7px;
    height: 18px;
    left: 21px;
    top: 0px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    /* Gray 3 */
    color: #828282;
    }
    .group_9{
    position: relative;
    width: 62px;
    height: 18px;
    left: 0px;
    top: 0px;
    }
.frame_36 .group_9 p{
position: absolute;
width: 39px;
height: 18px;
left: 33px;
top: 0px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
color: #828282;
    }
    
    .frame_36 .persona{
    /* Ellipse 3 */


position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;
    }
    .frame_36 .group_17{
    position: absolute;
    width: 308px;
    height: 24px;
    left: 20px;
    top: 20px;
    }
.frame_36 .group_37{
    position: absolute;
width: 303px;
height: 45px;
left: 25px;
top: 56px;
}
.frame_36 .group_37 p{
    position: absolute;
    width: 308px;
    height: 45px;
    left: 30px;
    top: 0px;
        
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    /* Gray 2 */
    color: #4F4F4F;  
    text-decoration: line-through;
}

.frame_36 .group_37 .circulo{
position: absolute;
left: 0;
right: 88.22%;
top: 0%;
bottom: 50.96%;
/* Green 1 */
background: #219653;
/* Green 1 */
border: 1px solid #219653;
border-radius:50%;
}
.frame_36 .group_37 .nike{
/* Vector */
position: absolute;
left: 1.5%;
right: 89.37%;
top: 12%;
bottom: 53.93%;
/* Green 1 */
background: #219653;
}
    .frame_36 .frame_9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 14px;
    
    position: absolute;
    width: 89px;
    height: 23px;
    left: 0px;
    top: 0px;
    
    background: rgba(47, 128, 237, 0.2);
    border-radius: 18px;
    
      
    }
    .frame_36 .frame_9 p{
    /* Web Design */
    
    
    position: static;
    width: 61px;
    height: 15px;
    left: 14px;
    top: 4px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    
    color: #2F80ED;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    }
    .elipse_horizontal{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 256px;
    top: 0px;
    right: 20px;
    }